li{
  list-style: none;
  display: flex;
}

.headerPage{
  background: burlywood;
  position: fixed;
  width: 100%;
  display: grid;
  top: 0;
  left: 0;
}
.headerPage h1{
  text-align: center;
}
.headerPage input{
  text-align: left;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
}

.card {
  border: 1px solid #eee;
  border-radius: 5px;
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.2)
}

.card button{
  float: right;
}

.cardContainer-img{
  background-color: burlywood;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
}

.card-subtitle {
  font-size: 18px;
}

.card-text {
  padding-left: 0;
  margin-bottom: 0;
}

.card-text li {
  font-size: 16px;
  margin-bottom: 5px;
}
